/*整个页面的背景颜色*/
body {
	background-color: #f4f7ed;
}

/**页面头部位置**/
#header {
	width: 960px;
	margin: 20px auto;
}




/**页面底部位置**/
#footer {
	width: 960px;
	height: 18px;
	padding: 20px 0px; 
	margin: 0 auto;
}

#footer p {
	text-align: center;
	font-size: 12px;
	color: #b6baae; 
}