body {
	line-height: 1.5;
	background-color: #f4f7ed;
}
.zhsign-in-a {
	vertical-align: baseline;
    background: transparent;
    color: #555;
    text-decoration: none;
}
.dingsign-in-a {
	vertical-align: baseline;
    background: transparent;
    color: #38ADFF;
    text-decoration: none;
}
.sign-page {
	margin: 80px auto 40px;	
	width: 960px;
	height: 500px;

}
.footer {
	width: 960px;
	height: 58px;
	margin: 0 auto;
	font-size: 12px;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	line-height: 58px;
	text-align: center;
	color: #aaaaaa;
}
.hd {
	width: 960px;
	height: 56px;
	text-align: center;
}
.form {
	width: 380px;
	height: 394px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
}
.sign-title {
	width: 380px;
	height: 32px;
	padding-top: 10px;	
	text-align: center;
}
.sign-section {
	position: relative;
	height: 244px;
	padding: 36px 30px 20px;
    margin: 15px 0;
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
    border-radius: 4px;
}
.form-item {
	margin-bottom: 20px;
}
.form-field {
    position: relative;
    text-align: left;
}
#email {
	width: 300px;
	height: 30px;
    padding: 6px 8px;
    font-size: 18px;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-shadow: #8cb029;
    outline-color: #8cb029;
    

}
#password {
	width: 300px;
	height: 30px;
    padding: 6px 8px;
    font-size: 18px;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-shadow: inset 0 0 3px rgba(0,0,0,0.1);
    outline-color: #8cb029;
}
.desc {
	height: 15px;
	padding: 15px 0;
	font-size: 12px;
    color: #999;

}
.left {
	margin: 0;
	float: left;
}
.right {
	margin: 0;
	float: right;
}
#cb-remember {
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
    color: #333;
}
.forgot_password-a {
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
    color: #999;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
}
.btn-submit {
	width: 318px;
    padding: 10px;
    margin: 0;
    border: none;
    border-radius: 4px;
    background: #95b93d;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;/*手形光标*/
    text-shadow: 0px -1px 0px rgba(0,0,0,0.3);
}
.btn-submit-a {
	color: #fff;
	text-decoration: none;
}
.wechat-signin-png {
	width:17px;
	height:15px;
}
.wechat-signin-text {
	color: #869a43;
	font-size: 15px;
	padding-top: 10px;
	vertical-align: baseline;
    background: transparent;
    text-decoration: none;
}
