body {
	line-height: 1.5;
	background-color: #f4f7ed;
}
.zhsign-in-a {
	vertical-align: baseline;
    background: transparent;
    color: #555;
    text-decoration: none;
}
.dingsign-in-a {
	vertical-align: baseline;
    background: transparent;
    color: #38ADFF;
    text-decoration: none;
}
.sign-page {
	margin: 80px auto 40px;	
	width: 960px;
	height: 500px;

}
.footer {
	width: 960px;
	height: 58px;
	margin: 0 auto;
	font-size: 12px;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	line-height: 58px;
	text-align: center;
	color: #aaaaaa;
}
.hd {
	width: 960px;
	height: 56px;
	text-align: center;
}
.form {
	width: 380px;
	height: 394px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
}
.sign-title {
	width: 380px;
	height: 32px;
	padding-top: 10px;	
	text-align: center;
}
.sign-section {
	position: relative;
	height: 244px;
	padding: 36px 30px 20px;
    margin: 15px 0;
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
    border-radius: 4px;
}
.form-item {
	margin-bottom: 20px;
}
.form-field {
    position: relative;
    text-align: left;
}
#email {
	width: 300px;
	height: 30px;
    padding: 6px 8px;
    font-size: 18px;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-shadow: inset 0 0 3px rgba(0,0,0,0.1);
}
#password {
	width: 300px;
	height: 30px;
    padding: 6px 8px;
    font-size: 18px;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-shadow: inset 0 0 3px rgba(0,0,0,0.1);
}

