/*清除原有属性*/
li {
	list-style: none;
}

a {
	text-decoration: none;
}

/*改变文件改动信息位置*/
#conter {
	position: relative;
	bottom: 40px;
}

/*内容样式*/
#concent {
	width: 882px;
	margin: 0 auto;
	border: 1px solid #999;
	box-shadow: 0 0 5px #000;
	padding: 40px;
	background-color: #fff;
}

/*标题部分样式*/
#concent p {
	font-size: 14px;
	color: #333333;
	float: left;
	position: relative;
	bottom: 40px;
}

#concent p a {
	color: #666666;
	padding: 0px 12px;
}


/*每天文件改动信息样式*/
#concent .act .top {
	margin-top: 60px;
}

#concent .act h1 {
	height: 58px;
	margin: 0px;
}

#concent .act h1 a {
	color: #999999;
	position: relative;
	left: 20px;
	bottom: 24px;
	font-size: 18px;
}

#concent .act h1 a:hover {
	color: #4ea5ad;
}

#concent .act ul {
	margin-bottom: 50px;
	margin-top: 0px;
}

#concent .act ul li {
	margin-bottom: 10px;
}

#concent .act ul li .time {
	color: #999999;
	font-size: 12px;
	display: inline-block;
	height: 53px;
	line-height: 53px;
	margin: 0px 10px;
	margin-left: 30px;
	position: relative;
	bottom: 22px;
}

#concent .act ul li .name {
	font-size: 16px;
	font-weight: bold;
	color: #000;
	position: relative;
	bottom: 34px;
	left: 10px;

}

#concent .act ul li .name:hover {
	color: #4ea5ad;

}
 
#concent .act ul li .thing {
	position: relative;
	bottom: 34px;
	left: 20px;
}


/*加载按钮*/
#more {
	width: 200px;
	height: 30px;
	margin-left: 341px;
	background: #dadbd8;
	border-radius: 5px;
	line-height: 30px;
	text-align: center;
}